<h1>Отчеты</h1>
<p>Выберите нужный вариант отчета:</p>

<%= form_with url: '/reports/create', method: :post do |form| %>
  <% if current_user == 'administrator' %>
    <%= form.radio_button :report, 'first_sql', class: 'form-check-input' %>
    <%= form.label :report_first_sql, 'Количество нейтральных клиентов (не являющихся логопедами и не заключивших контракт с логопедами одновременно)' %><br>
  <% end %>
  
  <%= form.radio_button :report, 'second_sql', class: 'form-check-input' %>
  <%= form.label :report_second_sql, 'Логопеды с самой высокой оценкой' %><br>

  <% if current_user == 'administrator' %>
    <%= form.radio_button :report, 'third_sql', class: 'form-check-input' %>
    <%= form.label :report_third_sql, 'Количество договоров для каждого типа услуг' %><br>
  <% end %>

  <% if current_user == 'administrator' %>
    <%= form.radio_button :report, 'fourth_sql', class: 'form-check-input' %>
    <%= form.label :report_fourth_sql, 'Логопед, у которого больше всего договоров' %><br>
  <% end %>
  
  <% if current_user == 'administrator' %>
    <%= form.radio_button :report, 'fifth_sql', class: 'form-check-input' %>
    <%= form.label :report_fifth_sql, 'Кто тратит больше всего из клиентов' %><br>
  <% end %>

  <% if current_user == 'administrator' %>
    <%= form.radio_button :report, 'sixth_sql', class: 'form-check-input' %>
    <%= form.label :report_fifth_sql, 'Заблокированные логопеды' %><br>
  <% end %>

  <%= form.radio_button :report, 'seventh_sql', class: 'form-check-input' %>
  <%= form.label :report_fifth_sql, 'Логопеды, которым в год создания КР исполнилось или исполнится 18 лет' %><br>

  <br>
  
  <%= form.submit 'Получить отчет', class: 'btn btn-dark fs-5' %>
<% end %>

<br><br>

<div id='result-container'></div>
